#game{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Calibri;
  font-size: 16px;
}
#header {
  text-align: center;
}
#title {
  font-size: 40px;
  font-weight: bold;
}
#info{
  margin: 14px;
}
#details {
  font-size: 10px;
  color: #b3b2b2;
  padding-left: 5px;
  font-style: italic;
}
.row {
  display: flex;
  align-items: center;
}

.button {
  cursor: default;
  color: #f1f1f1;
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  user-select: none;
}

.button.enabled {
  color: #dbdbdb;
}

.button.enabled:hover {
  cursor: pointer;
  color: #797979;
}

.cell {
  background: #dbdbdb;
  margin: 2px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

#playerHeader{
  display: flex;
  justify-content: center;
}
.playerStats{
  width: 100px;
  color: white;
  margin: 20px;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

.currentPlayerYouString{
  font-size: 12px;
  padding-left: 5px;
  font-style: italic;
}

.player0 {
  background: #2f85fa;
}

.player1 {
  background: #ffa821;
}

.joinButton{
  background: #404040;
  cursor: pointer;
  color: #e7e7e7;
  font-weight: bold;
  padding: 15px;
  margin: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.joinButton:hover{
  background: #565656;
}
